parameters:
  level: 6

  excludePaths:
    - lib/Providers/Qr/BaconQrCodeProvider.php
    - lib/Providers/Qr/EndroidQrCodeProvider.php
    - lib/Providers/Qr/EndroidQrCodeWithLogoProvider.php

  paths:
    - lib
    - tests
    - testsDependency
